#topbanner {
    background-image: url('src/assets/TopBanner/bq.jpeg');
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0px 10%;
}

#topbanner-content-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 50px;
}

#topbanner-title {
    color: white;
    font-weight: bolder;
    font-size: 42px;
    max-width: 700px;
}

.create-article-topbanner-button {
    background-color: #af1317;
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    text-wrap: nowrap;
    margin-left: 30px;
}

.create-article-topbanner-button:hover {
    transition: 0.4s;
    background-color: #FBEBA5;
    color: black;
}