#controls-container {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 15px 33%;
    justify-content: space-between;
}

.admin-controls-button {
    padding: 5px 10px;
    background-color: antiquewhite;
    width: 200px;
    height: 100px;
    color: black;
    font-size: 16px;
}

#remove-selected-articles:hover {
    background-color: palevioletred;
}

#add-article:hover {
    background-color: pink;
}

.admin-controls-button:hover {
    transition: 0.5s;
}