.dash {
  display: flex;
  justify-content: space-between;
  margin-right: 0;

  .left-content {
    display: flex;
    flex-direction: column;

    .msn-bienvenida {
      margin-top: 100px;
      margin-left: 15px;
      text-align: center;
      background-color: #fbebca;
      border-radius: 30px;
      width: 450px;
      height: 100px;

      h4 {
        margin-left: 100px;
        margin-top: 35px;
        font-weight: bold;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.43);
      }

      img {
        position: absolute;
        top: 100px;
        left: 390px;
        width: 140px;
        height: 117px;
        object-fit: cover;
      }
    }

    .empieza-aqui {
      margin-left: 15px;
      margin-top: 30px;
      text-align: center;
      background-color: #fbebca;
      border-radius: 50px;
      width: 450px;
      height: 350px;

      p {
        margin-top: 70px;
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
      }

      button {
        margin-top: 20px;
        border-radius: var(--br-31xl);
        background-color: var(--color-firebrick);
        box-shadow: 0 4px 5px 4px rgba(0, 0, 0, 0.7);
        border: 2px solid var(--color-black);
        box-sizing: border-box;
        font-size: x-large;
        font-weight: 800;
        color: var(--color-white);
        width: 300px;
        height: 70px;
      }
    }
  }

  .right-content {
    position: absolute;
    background-color: var(--color-firebrick);
    border-radius: 100px;
    margin-right: 41px;
    right: 0;
    width: 415px;
    height: 660px;

    h3 {
      margin-top: 40px;
      text-align: center;
      font-size: x-large;
      font-weight: bold;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
      color: var(--color-white);
    }

    .react-calendar {
      font-family: "Montserrat", sans-serif;
      background-color: white;
      margin-top: 30px;
      margin-left: 35px;
      border-radius: 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .eventos-lista {
      margin-top: 20px;
      padding: 10px;
      margin-left: 35px;
      border: 1px solid #ddd;
      border-radius: 20px;
      background-color: #f9f9f9;
      max-width: 350px;

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
        padding: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
      }

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
  }
}
