#controls-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.admin-controls-button {
    background-color: #af1317;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    text-wrap: nowrap;
}

.admin-controls-button:hover {
    transition: 0.4s;
    background-color: #FBEBA5;
    color: black;
}
